h2 Message log
.topNavigation Page #{page} of #{pages}
.navigation
  - var start = (page - 5 <= 0) ? 1 : (page - 5)
  - var end = ((page + 5) > pages) ? pages : (page + 5)
  - if (start > 1)
    a(href='/messageLog/1') First
  - for (var i = start; i <= end; i++)
      if(i == page)
        a(href='/messageLog/' + i, class='current')= i
      else
        a(href='/messageLog/' + i)= i
  - if (end < pages)
    a(href='/messageLog/' + pages) Last

table.messages.table.table-striped
  thead
    tr
      th.direction Direction
      th.msg Message
      th.src Sender
      th.dst Recipient
      th.date Timestamp
      th.response Response
  tbody
    each sms in results
      - var errorClass = (sms.error) ? 'error message' : 'message'
        tr(class= errorClass)
          td.direction= sms.direction
          td.msg= sms.msg
          td.src= sms.src
          td.dst= sms.dst
          td.date= sms.timestamp
          td.response= sms.responseCode
.navigation
  - var start = (page - 5 <= 0) ? 1 : (page - 5)
  - var end = ((page + 5) > pages) ? pages : (page + 5)
  - if (start > 1)
    a(href='/messageLog/1') First
  - for (var i = start; i <= end; i++)
      if(i == page)
        a(href='/messageLog/' + i, class='current')= i
      else
        a(href='/messageLog/' + i)= i
  - if (end < pages)
    a(href='/messageLog/' + pages) Last
