h2 Message log
.topNavigation Page #{page} of #{pages}

table.messages.table.table-striped
  thead
    tr
      th.msg Message
      th.date Timestamp
      th.src Sender
  tbody
    each sms in results
      tr.message
        td.msg= sms.msg
        td.date= sms.date
        td.src= sms.src
.navigation
  - for (var i = 1; i <= pages; i++)
    if(i == page)
      a(href='/messageLog/' + i, class='current')= i
    else
      a(href='/messageLog/' + i)= i
