h2 Message log
.topNavigation Page #{page} of #{pages}
.navigation
  - for (var i = 1; i <= pages; i++)
    if(i == page)
      a(href='/messageLog/' + i, class='current')= i
    else
      a(href='/messageLog/' + i)= i

table.messages.table.table-striped
  thead
    tr
      th.direction Direction
      th.msg Message
      th.src Sender
      th.dst Recipient
      th.date Timestamp
  tbody
    each sms in results
      tr.message
        td.direction= sms.direction
        td.msg= sms.msg
        td.src= sms.src
        td.dst= sms.dst
        td.date= sms.timestamp
.navigation
  - for (var i = 1; i <= pages; i++)
    if(i == page)
      a(href='/messageLog/' + i, class='current')= i
    else
      a(href='/messageLog/' + i)= i
