h2 Message log
.topNavigation Page #{page} of #{pages}
.navigation
  - for (var i = 1; i <= pages; i++)
    if(i == page)
      a(href='/messageLog/' + i, class='current')= i
    else
      a(href='/messageLog/' + i)= i

table.messages.table.table-striped
  thead
    tr
      th.direction Direction
      th.msg Message
      th.src Sender
      th.dst Recipient
      th.date Timestamp
      th.response Response
  tbody
    each sms in results
      - var errorClass = (sms.error) ? 'error message' : 'message'
        tr(class= errorClass)
          td.direction= sms.direction
          td.msg= sms.msg
          td.src= sms.src
          td.dst= sms.dst
          td.date= sms.timestamp
          td.response= sms.responseCode
.navigation
  - for (var i = 1; i <= pages; i++)
    if(i == page)
      a(href='/messageLog/' + i, class='current')= i
    else
      a(href='/messageLog/' + i)= i
