h2= "Reuslts for " + kelurahan

#resultsControl
  select#kelurahans

if results && results.length
  .export
    a(href='/downloads/results.csv') Export all as .csv file

  table.results.table.table-striped
    thead
      tr
        th.number Number
        each question, i in questions
          th(title= questions[i])= "Q" + (i + 1)

    tbody
    each result in results
      if(kelurahan == "all" || (result.answers[0] && result.answers[0].answer.toLowerCase() == kelurahan.toLowerCase() ))
        tr.result
          td.number= result.src
          each question, i in questions
            td= (result.answers[i]) ? result.answers[i].answer : ''
          td.edit
            a(href="/results/edit/" + result._id) edit

script
  /* Results Page */
  var kelurahan = "#{kelurahan}";
  var kelurahanSelect = $('<select>')
    .append($('<option>').html('All'));
  $.getJSON('/api/kelurahans', function(kelurahans){
    $.each(kelurahans, function(i, kel){
      $('<option>')
        .html(kel)
        .attr((kelurahan && kel.toLowerCase() == kelurahan) ? 'selected' : 'none', '')
        .appendTo(kelurahanSelect);
    });
    $('#kelurahans').append($(kelurahanSelect).html());
  });

  $('#kelurahans').on('change', function(){
    console.log($(this).val());
    window.location = '/results/' + $(this).val().toLowerCase();
  });