if neighborhood
  h2=neighborhood + " Results"
else
  h2 Results

form#neighborhoodSelect
  select
    option Select a Neighborhood
    each neighborhood in neighborhoods
      option(value=neighborhood)=neighborhood

if results && results.length
  a(href='/downloads/' + neighborhood + '/results.csv') Export as .csv file

  table.results.table.table-striped
    thead
      tr
        th.number Number
        each answer, i in results[0].answers
          th= "Q" + (i + 1)

    tbody
      each result in results
        tr.result
          td.number= result.src
          each answer in result.answers
            td= answer.answer

